<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<%- include('./header'); %>
<%- include('./error_messages'); %>
<% if(isAuth) { %>
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card p-4 todo-card">
          <form action="/" method="post" class="mb-3">
            <label class="font-weight-bold mb-2">タスクの追加</label>
            <input required type="text" name="add" placeholder="何をする?" class="form-control mb-2"/>
            <div class="form-row">
              <div class="col">
                <input type="date" name="deadline" class="form-control mb-2" placeholder="期限日">
              </div>
              <div class="col">
                <input type="time" name="deadline_time" class="form-control mb-2" placeholder="時刻">
              </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit">追加</button>
          </form>
          <form action="/" method="get" class="form-inline mb-2">
            <input type="text" name="q" placeholder="タスク検索" class="form-control mr-2 mb-2" value="<%= typeof q !== 'undefined' ? q : '' %>">
            <input type="date" name="deadline" class="form-control mr-2 mb-2" value="<%= typeof searchDeadline !== 'undefined' ? searchDeadline : '' %>">
            <button type="submit" class="btn btn-outline-secondary mb-2">検索</button>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <% if (searchResults) { %>
          <h5 class="mb-2">検索結果</h5>
          <div class="card mb-4 todo-card">
            <ul class="list-group list-group-flush">
              <% if (searchResults.length === 0) { %>
                <li class="list-group-item text-muted">該当するタスクはありません。</li>
              <% } else { %>
                <% searchResults.forEach(function(todo) { %>
                  <li class="list-group-item d-flex align-items-center">
                    <input type="checkbox" disabled class="mr-3" <%= todo.is_done ? 'checked' : '' %> />
                    <span class="todo-content <%= todo.is_done ? 'todo-completed' : '' %>"><%= todo.content %></span>
                    <div class="ml-auto d-flex align-items-center">
                      <% if (todo.deadline) { %>
                        <span class="badge badge-deadline ml-2">
                          <i class="far fa-calendar-alt"></i> <%= new Date(todo.deadline).toISOString().slice(0,10) %>
                        </span>
                      <% } %>
                      <% if (todo.deadline_time) { %>
                        <span class="badge badge-time ml-2">
                          <i class="far fa-clock"></i> <%= todo.deadline_time.slice(0,5) %>
                        </span>
                      <% } %>
                      <% if (todo.is_done) { %>
                        <span class="badge badge-done ml-2">完了</span>
                      <% } %>
                    </div>
                  </li>
                <% }); %>
              <% } %>
            </ul>
          </div>
        <% } %>
        <h5 class="mb-2">全タスク</h5>
        <div class="card todo-card">
          <ul class="list-group list-group-flush">
            <% if (todos && todos.length > 0) { %>
              <% todos.forEach(function(todo) { %>
  <li class="list-group-item d-flex align-items-center">
    <form action="/toggle/<%= todo.id %>" method="post" class="mr-3 mb-0 p-0" style="display:inline;">
      <input type="checkbox" name="is_done" <%= todo.is_done ? 'checked' : '' %> onchange="this.form.submit()" />
    </form>
    <span class="todo-content <%= todo.is_done ? 'todo-completed' : '' %>"><%= todo.content %></span>
    <div class="ml-auto d-flex align-items-center">
      <% if (todo.deadline) { %>
        <span class="badge badge-deadline ml-2">
          <i class="far fa-calendar-alt"></i> <%= new Date(todo.deadline).toISOString().slice(0,10) %>
        </span>
      <% } %>
      <% if (todo.deadline_time) { %>
        <span class="badge badge-time ml-2">
          <i class="far fa-clock"></i> <%= todo.deadline_time.slice(0,5) %>
        </span>
      <% } %>
      <% if (todo.is_done) { %>
        <span class="badge badge-done ml-2">完了</span>
      <% } %>
    </div>
  </li>
<% }); %>
            <% } else { %>
              <li class="list-group-item text-muted">タスクがありません。</li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% } else { %>
  <h1 class="mt-5 text-center">Welcome to the TodoApp</h1>
  <div class="text-center">
    <a class="btn btn-primary" href="/signup" role="button">Sign up now!</a>
  </div>
<% } %>
<!-- FontAwesome for icons -->
<script src="https://kit.fontawesome.com/6b3b3e1e8c.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
</body>
</html>